.timerWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.mainTimerSection {
  width: 300px;
  border-radius: 16px;

  background-color: var(--theme-light-background);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.header {
  position: relative;

  --header-height: 60px;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--theme-medium-background);
  color: var(--theme-text-fill);
  font-size: 20px;
}

.closeButton {
  position: absolute;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--header-height);
  width: var(--header-height);
  color: var(--theme-icon-fill);
}

.closeButton svg {
  height: 20px;
}

.bottomButtonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 14px;
}

.bottomTextButton {
  color: var(--theme-text-fill);
  padding: 6px;
  font-size: 20px;
}

.bottomTextButton:hover,
.bottomTextButton:active {
  opacity: 0.7;
}

.pausePlayButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 38px;
  width: 38px;
  border-radius: 19px;
  background-color: var(--theme-dark-background);
  color: var(--theme-icon-fill);
}

.pausePlayButton:disabled {
  opacity: 0.7;
}

.pausePlayButton svg {
  height: 16px;
}

.timeUpDialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.timeUpDialogModal {
  background-color: var(--theme-medium-background);
  color: var(--theme-text-fill);
  position: relative;
  padding: 22px 30px;
}

.timeUpDialogModal button {
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  cursor: pointer;
  padding: 2px 6px;
}
